@CHARSET "ISO-8859-1";

.view-login {
    /*desarrollo*/
    	/*background-color: #27629E;
    	background-image: radial-gradient(circle, #165387, #27629E);*/
    /*prepro*/
    	/*background-color: #333;
    	background-image: radial-gradient(circle, #333, #666);*/
    /*produccion*/
    	background-color: #9b061a;
    	background-image: radial-gradient(circle, #e0142f, #9b061a);
  
    background-repeat: no-repeat;
    padding-top: 0;
}
.header
{
	/*desarrollo*/
            /*background-color: #27629E !important;
	    background-image: linear-gradient(to bottom, #165387, #27629E) !important;*/
	/*prepro*/
		/*background-color: #184a7d !important;
	    background-image: linear-gradient(to bottom, #333, #666) !important;*/
       /*produccion*/
	    background-color: #9b061a !important;
	    background-image: linear-gradient(to bottom, #e0142f, #9b061a) !important;
}
.navbar-inverse .navbar-inner {
    /*desarrollo*/
	    /*background-color: #27629E !important;
	    background-image: linear-gradient(to bottom, #165387, #27629E) !important;
	    background-repeat: repeat-x !important;
	    border-color: #0b172a !important;*/
    /*prepro*/
	    /*background-color: #333 !important;
	    background-image: linear-gradient(to bottom, #333, #666) !important;
	    background-repeat: repeat-x !important;
	    border-color: #333 !important;*/
    /*produccion*/
	    background-color: #9b061a !important;
	    background-image: linear-gradient(to bottom, #e0142f, #9b061a) !important;
	    background-repeat: repeat-x !important;
	    border-color: #9b061a !important;
}
.login1
{
	display:none;
}
.btn-primary {
    background-color: #9B061A !important;
    background-image: linear-gradient(to bottom, #E0142F, #9B061A) !important;
    background-repeat: repeat-x;
    border-color: #E0142F #E0142F #9B061A;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.login
{
	text-align:center;
}
.view-login .container
{
	top:30%;
}